* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1D2630; /* Add this in */
}

.navbar,
footer {
    background-color: #293542;
}

h1,
h2,
.navbar-brand
 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

p,
li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#introduction {
    margin-top: 50px;
    color: white; /* Add this in */
}

.card {
    background-color: #343F4C; /* Add this in */
    border: 1px solid white; /* Add this in */
    color: white; /* Add this in */
}

section#tips > div.card {
    background-color: #43A047; /* Add this in */
}

section#cautions > div.card {
    background-color: #E53935; /* Add this in */
}

#final-thoughts {
    text-align: center;
}
