* {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}

body {
    background-color: #1D2630;
}

.navbar,
footer {
    background-color: #293542;
}

h1,
h2,
.navbar-brand {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

p,
li {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

a {
    color: #00C8FF;
}

strong {
    text-decoration: underline;
}

#introduction,
#recipes {
    margin-top: 50px;
}

.card {
    background-color: #343F4C;
    border: 1px solid white;
    color: white;
}

.faded {
    color: #D8D9DB;
    font-weight: 400;
    font-size: 1rem;
}

section#tips > div.card {
    background-color: #33691E;
}

section#cautions > div.card {
    background-color: #B71C1C;
}

#final-thoughts {
    text-align: center;
}
